---
import Image from '@/components/Image.astro';

interface Props {
  user: string;
  repo: string;
}

const { user, repo } = Astro.props;

const repo_url = `https://github.com/${user}/${repo}`;
const img_url = `https://github-readme-stats-alan-kuan.vercel.app/api/pin/?username=${user}&repo=${repo}&hide_border=true`;
const dark_img_url = `${img_url}&theme=noctis_minimus`;
---

<a href={repo_url} target="_blank">
  <Image
    class="dark:hidden"
    src={img_url}
    alt={repo}
  />
  <Image
    class="hidden! dark:flex!"
    src={dark_img_url}
    alt={repo}
  />
</a>