---
import LazyImage from '@/components/LazyImage.vue';

interface Props {
  src: string;
  alt: string;
  title?: string;
}

const { src, alt, title } = Astro.props;
const img_attr = Astro.locals.img_attr_of_src?.[src];
---

{/* NOTE: post-img is used in styling and utilized by ImageViewer */}
<div
  class="
    relative
    md:w-90% lg:w-75%
    margin-content
    post-img
  "
>
  <LazyImage
    {src} {img_attr} {alt} {title}
    class="rounded-md has-[img:not(.error)]:cursor-pointer"
    style={{ 'aspect-ratio': img_attr?.aspect_ratio ?? '3 / 2' }}
    client:idle
  />
  {
    title &&
    <figcaption class="mt-1 px-4 text-sm italic">
      {title}
    </figcaption>
  }
</div>