---
import LazyImage from '@/components/LazyImage.vue';

interface Props {
  src: string;
  alt: string;
  title?: string;
}

const { src, alt, title } = Astro.props;
const img_attr = Astro.locals.img_attr_of_src?.[src];
---

<div
  class="
    relative
    md:w-90% lg:w-75%
    margin-content
  "
>
  {/* NOTE: post-img is utilized by ImageViewer */}
  <LazyImage
    {src} {img_attr} {alt} {title}
    class="rounded-md cursor-pointer post-img"
    style={{ 'aspect-ratio': img_attr?.aspect_ratio ?? '3 / 2' }}
    client:idle
  />
  {
    title &&
    <figcaption class="mt-1 px-4 lt-md:text-sm">
      {title}
    </figcaption>
  }
</div>