---
import LazyImage from '@/components/LazyImage.vue';

interface Props {
  src: string;
  width?: number;
  height?: number;
  alt: string;
  title?: string;
}

const { src, width, height, alt, title } = Astro.props;
const blurhash = Astro.locals.blurhash_of_src?.[src];
---

<div
  class="
    relative
    md:w-90% lg:w-75%
    margin-content
  "
>
  {/* NOTE: post-img is utilized by ImageViewer */}
  {/* TODO: adjust width/height */}
  <LazyImage
    {src} {blurhash}
    width={width ?? 600}
    height={height ?? 400}
    {alt} {title}
    class="rounded-md cursor-pointer post-img"
    client:idle
  />
  {
    title &&
    <figcaption class="mt-1 text-center lt-md:text-sm">
      {title}
    </figcaption>
  }
</div>