---
import BaseLayout from '../layouts/Base.astro';
import ProfileCard from '../components/ProfileCard.vue';
import ArticleList from '../components/ArticleList.vue';

const title = 'Alan Kuan | 官澔恩';
const desc = 'A place telling things about Alan Kuan';

const profile = {
  profile_url: 'https://github.com/Alan-Kuan.png',
  name: '官澔恩 / Alan Kuan',
  title: 'Lorem ipsum dolor',
  links: [
    {
      title: 'My Linkedin Profile',
      icon: 'linkedin',
      url: 'https://www.linkedin.com/in/alankuan945',
    },
    {
      title: 'My GitHub Profile',
      icon: 'github',
      url: 'https://github.com/Alan-Kuan',
    },
    {
      title: 'My YouTube Channel',
      icon: 'youtube',
      url: 'https://www.youtube.com/@alankuan',
    },
  ],
  intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in tristique libero. Morbi fermentum venenatis lectus sit amet mattis. Etiam non velit ac sapien finibus lobortis id et ex. Etiam venenatis vulputate neque, sed finibus nunc aliquet consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec egestas quis nisi quis tempor. Pellentesque eu lacinia justo.',
};

const articles = [
  { title: 'Lorem ipsum dolor sit amet', excerpt: 'Praesent porttitor lobortis laoreet. Integer in mauris eu ante interdum ultricies. Integer pharetra vehicula viverra. Cras vitae quam maximus massa convallis finibus. Nunc ac tincidunt tortor, eget congue metus. Cras tincidunt enim nisl, non cursus lorem vestibulum et.' },
  { title: 'Cras blandit efficitur est eu venenatis', excerpt: 'Proin vitae sem vitae tortor congue fringilla. Vivamus tellus massa, feugiat vitae orci a, pretium lobortis tortor. Suspendisse eu ultricies libero. Sed in pulvinar sem, quis tempor est.' },
];
---

<BaseLayout
  {title}
  {desc}
>
  <main>
    <div class="flex">
      <ProfileCard
        profile_url={profile.profile_url}
        name={profile.name}
        title={profile.title}
        links={profile.links}
        intro={profile.intro}
      />
      <ArticleList {articles} />
    </div>
  </main>
</BaseLayout>