---
import { Image, inferRemoteSize } from 'astro:assets';

import type { ImageMetadata } from 'astro';

interface Props {
  class?: string,
  src: string | ImageMetadata;
  alt: string;
  title?: string;
  img_class?: string;
}

const {
  class: container_class,
  src,
  alt,
  title,
  img_class,
} = Astro.props;

const { width, height } = await inferRemoteSize(src);

const blur_removal = 'this.classList.remove("blur-2")';
const ske_removal = 'this.nextElementSibling.remove()';
const animate_removal = 'this.nextElementSibling.removeAttribute("animate-pulse")';
const show_icon = 'this.nextElementSibling.children[0].removeAttribute("hidden")';

const onload = `${blur_removal}; ${ske_removal}`;
const onerror = `${blur_removal}; ${animate_removal}; ${show_icon}`;
---

<div
  class:list={[
    'relative',
    'flex', 'flex-col', 'items-center',
    'overflow-hidden',
    container_class,
  ]}
>
  <Image
    class:list={[
      'z-1',
      'w-full',
      'line-height-12',
      'text-center', 'text-text-dark',
      'blur-2',
      img_class,
    ]}
    {width} {height}
    {src} {alt}
    {onload} {onerror}
  />
  <!-- skeleton -->
  <object
    {width} {height}
    class={img_class}
    w-full
    absolute top-0
    flex justify-center items-center
    bg-gray-300
    animate-pulse
  >
    <div hidden i-mdi-image-remove text-8xl text-text-dark />
  </object>
  <!-- caption -->
  { title && <figcaption mt-2 px-2 lt-md:text-sm>{title}</figcaption> }
</div>