---
import PostAttr from '@/components/post/PostAttr.vue';

import type { Post as Props } from '@/types.ts';

const {
  collection,
  id,
  excerpt,
  title,
  desc,
  date,
  tags,
  banner_url,
} = Astro.props;

const thumbnail_icon = collection === 'projects' ? 'i-mdi-bulletin-board' : 'i-mdi-book-open-variant-outline';
const post_link = `/${collection}/${id}`;
---

<div
  class="
    max-h-200 md:max-h-100
    my-5
    overflow-hidden
    rounded-md
    bg-light-bg-card dark:bg-dark-bg-card
    drop-shadow-sm
  "
>
  <div class="flex flex-col md:flex-row">
    <a
      href={post_link}
      class="
        group
        flex justify-center items-center
        md:min-w-72 md:max-w-72 min-h-32 md:min-h-48
        overflow-hidden
        bg-gray-300
      "
    >
    {
      banner_url &&
      <img
        src={banner_url}
        class="
          w-full h-full
          object-cover
          transition-transform duration-300
          group-hover:scale-110
        "
      /> ||
      <div
        class:list={[
          thumbnail_icon,
          'text-light-text-normal',
          'text-7xl', 'group-hover:text-8xl',
          'transition-[font-size]',
          'duration-300',
        ]}
      />
    }
    </a>
    <div class="pa-5">
      <div
        class="
          font-medium
          text-xl
          transition-150
          hover:text-light-indicator-info
          dark:hover:text-dark-indicator-info
        "
      >
        <a href={post_link}>{title}</a>
      </div>
      <PostAttr {date} {tags} class="mt-2" />
      {
        excerpt &&
        <div class="h-18 mt-2 overflow-hidden">
          {excerpt}
        </div>
      }
    </div>
  </div>
</div>