---
import { getAverageColor } from 'fast-average-color-node';

import PostAttr from '@/components/post/PostAttr.vue';
import type { Post as Props } from '@/types.ts';

const {
  title,
  desc,
  banner_url,
  date,
  tags,
  collection,
  slug,
  excerpt,
} = Astro.props;

const bg_color = banner_url ? (await getAverageColor(banner_url, { algorithm: 'dominant' })).hex : '#cccccc';
const thumbnail_icon = collection === 'projects' ? 'i-mdi-bulletin-board' : 'i-mdi-book-open-variant-outline';
const post_link = `/${collection}/${slug}`;
---

<div
  max-h="200 md:100"
  my-5
  overflow-hidden
  rounded-md
  bg="page-light dark:page-dark"
  drop-shadow
>
  <div flex="~ col md:row">
    <a
      style={`background: ${bg_color}`}
      group
      flex justify-center items-center
      min-w="md:48" max-w="md:48" min-h="48 md:36"
      overflow-hidden
      href={post_link}
    >
      {
        banner_url &&
        <img
          max-w-full max-h-full
          w-full
          transition-transform duration-300
          group-hover:scale-110
          src={banner_url}
        /> ||
        <div
          class={thumbnail_icon}
          text-5xl
          transition-font-size duration-300
          group-hover:text-6xl
        />
      }
    </a>
    <div pa-5>
      <div
        font-medium
        text="
          xl
          hover:article_card-link-light
          dark:hover:article_card-link-dark
        "
      >
        <a href={post_link}>{title}</a>
      </div>
      <PostAttr class="mt-1" {date} {tags} />
      {
        excerpt &&
        <div h-18 mt-2 overflow-hidden>
          {excerpt}
        </div>
      }
    </div>
  </div>
</div>