---
import BaseLayout from '@/layouts/Base.astro';
import Footer from '@/components/Footer.vue';
import ArticleAttr from '@/components/article/ArticleAttr.vue';

const { title, desc, date, tags } = Astro.props;
---

<BaseLayout
  title={`${title} | Alan Kuan`}
  desc={desc}
>
  <main ma-8 px-8 py-5>
    <h1 text-3xl font-medium>{title}</h1>
    <div mt-2>
      <ArticleAttr {date} {tags} />
    </div>
    <div mt-5 mb-5>
      <slot />
    </div>
  </main>
  <Footer />
</BaseLayout>