---
import { ClientRouter } from 'astro:transitions';

import NavList from '@/components/nav/NavList.vue';
import NavMenu from '@/components/nav/NavMenu.vue';
import DarkLightToggle from '@/components/nav/DarkLightToggle.vue';

import { links } from "@/content/nav_links";
import '@/styles/base.css';
import '@/styles/theme.css';

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;

const route_prefix = Astro.url.pathname.split('/').splice(0, 2).join('/');
const curr_idx = route_prefix === '/' ?
  links.findIndex(link => link.route === '/') :
  links.findIndex(link => link.route.startsWith(route_prefix));
---

<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.svg" />

    {/* Mastodon */}
    <link rel="me" href="https://mastodon.social/@alankuan" />
    <meta name="fediverse:creator" content="@alankuan@mastodon.social">

    <ClientRouter />
	</head>

  <body class="bg-bg-body text-text-normal">
    <!-- Navbar -->
    <!--
      NOTE:
      - set position to relative so that z-index is applicable
      - set z-index to 10 so that nav menu can show under nav bar
    -->
    <nav
      class={`
        relative z-10
        grid grid-cols-[1fr_auto_1fr] items-center
        w-full h-[var(--navbar-height)]
        px-2 md:px-5
        bg-bg-top
        text-text-light
      `}
    >
      <img
        src="/favicon.svg"
        alt="logo"
        class:list={`
          justify-self-start
          w-8 md:w-12
          dark:saturate-70
          logo
        `}
      />

      <NavList {curr_idx} {links} client:idle />

      <div class="justify-self-end flex md:pr-10">
        <NavMenu {curr_idx} {links} client:idle />
        <DarkLightToggle client:idle />
      </div>
    </nav>
    <!-- Content -->
    <div
      id="base-content"
      class="h-[calc(100vh-var(--navbar-height))] overflow-y-scroll scroll-smooth"
    >
      <slot />
    </div>
	</body>
</html>

<style>
  .logo {
    filter: drop-shadow(0 1px rgba(255, 255, 255, 0.5))
      drop-shadow(0 -1px rgba(255, 255, 255, 0.5))
      drop-shadow(1px 0 rgba(255, 255, 255, 0.5))
      drop-shadow(-1px 0 rgba(255, 255, 255, 0.5));
  }
  .logo:hover {
    filter: drop-shadow(2px 0 2px rgba(255, 255, 255, 0.5))
      drop-shadow(-2px 0 2px rgba(255, 255, 255, 0.5))
      drop-shadow(0 2px 2px rgba(255, 255, 255, 0.5))
      drop-shadow(0 -2px 2px rgba(255, 255, 255, 0.5));
  }
</style>

<script>
const media_query = window.matchMedia('(prefers-color-scheme: dark)');

function applyTheme() {
  document.documentElement.classList.toggle(
    'dark',
    (!('theme' in localStorage) && media_query.matches) ||
      localStorage.getItem('theme') === 'dark',
  );
}

media_query.addEventListener('change', applyTheme);
document.addEventListener('astro:after-swap', applyTheme);
applyTheme();
</script>