---
import NavBar from '@/components/nav/NavBar.astro';
import ProfileCard from '@/components/ProfileCard.vue';

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;

const profile = {
  profile_url: 'https://github.com/Alan-Kuan.png',
  name: '官澔恩 / Alan Kuan',
  title: 'Lorem ipsum dolor',
  links: [
    {
      title: 'My Linkedin Profile',
      icon: 'linkedin',
      url: 'https://www.linkedin.com/in/alankuan945',
    },
    {
      title: 'My GitHub Profile',
      icon: 'github',
      url: 'https://github.com/Alan-Kuan',
    },
    {
      title: 'My YouTube Channel',
      icon: 'youtube',
      url: 'https://www.youtube.com/@alankuan',
    },
  ],
  email_b64: 'a3Vhbmhhb2FuQGdtYWlsLmNvbQ==',
  intro: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in tristique libero. Morbi fermentum venenatis lectus sit amet mattis. Etiam non velit ac sapien finibus lobortis id et ex. Etiam venenatis vulputate neque, sed finibus nunc aliquet consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec egestas quis nisi quis tempor. Pellentesque eu lacinia justo.',
};
---

<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body class="
    bg-light-bg-page dark:bg-dark-bg-page
    text-light-text dark:text-dark-text"
  >
    <NavBar />
    <div class="flex">
      <div class="w-1/4">
        <!-- add `top-20` and `bottom-0` to make `overflow-y-scroll` effective -->
        <ProfileCard
          class="fixed top-20 bottom-0 w-1/4"
          profile_url={profile.profile_url}
          name={profile.name}
          title={profile.title}
          links={profile.links}
          email_b64={profile.email_b64}
          intro={profile.intro}
        />
      </div>
      <div class="w-3/4 h-[calc(100vh-5rem)] overflow-y-scroll">
        <slot />
      </div>
    </div>
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family: monospace;
	}
</style>