---
import { Image } from 'astro:assets';
import { ClientRouter } from 'astro:transitions';

import NavList from '@/components/nav/NavList.vue';
import NavMenu from '@/components/nav/NavMenu.vue';
import DarkLightToggle from '@/components/nav/DarkLightToggle.vue';

import logo_img from '@/assets/logo.webp';
import { links } from "@/content/nav_links";
import '@/styles/base.css';
import '@/styles/theme.css';

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;

const route_prefix = Astro.url.pathname.split('/').splice(0, 2).join('/');
const curr_idx = route_prefix === '/' ?
  -1 :
  links.findIndex((link) => link.route.startsWith(route_prefix));
---

<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

    {/* Mastodon */}
    <link rel="me" href="https://mastodon.social/@alankuan" />
    <meta name="fediverse:creator" content="@alankuan@mastodon.social">

    <script is:inline>
      const media_query = window.matchMedia('(prefers-color-scheme: dark)');

      function applyTheme() {
        document.documentElement.classList.toggle(
          'dark',
          (!('theme' in localStorage) && media_query.matches) ||
            localStorage.getItem('theme') === 'dark',
        );
      }

      media_query.addEventListener('change', (e) => applyTheme(e.matches));
      document.addEventListener('astro:after-swap', applyTheme);
      applyTheme();
    </script>

    <ClientRouter />
	</head>

  <body class="bg-bg-body text-text-normal">
    <!-- Navbar -->
    <!--
      NOTE:
      - set position to relative so that z-index is applicable
      - set z-index to 10 so that nav menu can show under nav bar
    -->
    <nav
      class={`
        relative z-10
        grid grid-cols-[1fr_auto_1fr] items-center
        w-full h-[var(--navbar-height)]
        px-5
        bg-bg-top
        text-text-light
      `}
    >
      <a href="/" class="justify-self-start inline-block dark:saturate-70">
        <Image src={logo_img} alt="logo" class="logo w-10 md:w-15" />
      </a>

      <NavList {curr_idx} {links} client:load />

      <div class="justify-self-end flex md:pr-15">
        <NavMenu {curr_idx} {links} client:load />
        <DarkLightToggle client:idle />
      </div>
    </nav>
    <!-- Content -->
    <div
      id="base-content"
      class="h-[calc(100vh-var(--navbar-height))] overflow-y-scroll scroll-smooth"
    >
      <slot />
    </div>
	</body>
</html>

<style>
  .logo {
    filter: drop-shadow(0 1px rgba(255, 255, 255, 0.5))
      drop-shadow(0 -1px rgba(255, 255, 255, 0.5))
      drop-shadow(1px 0 rgba(255, 255, 255, 0.5))
      drop-shadow(-1px 0 rgba(255, 255, 255, 0.5));
  }
  .logo:hover {
    filter: drop-shadow(2px 0 2px rgba(255, 255, 255, 0.5))
      drop-shadow(-2px 0 2px rgba(255, 255, 255, 0.5))
      drop-shadow(0 2px 2px rgba(255, 255, 255, 0.5))
      drop-shadow(0 -2px 2px rgba(255, 255, 255, 0.5));
  }
</style>