---
import MarkdownIt from 'markdown-it';
import { parse as parseHtml } from 'node-html-parser';

import WithProfileLayout from '@/layouts/WithProfile.astro';
import PostCard from '@/components/post/PostCard.astro';
import Footer from '@/components/Footer.vue';

const parser = MarkdownIt();
function getExcerpt(body: string) {
  const html = parser.render(body);
  const root = parseHtml(html);
  const text = root.getElementsByTagName('p')[0]?.text;
  if (!text || text.length <= 400) return text;
  return text.substring(0, 400) + ' ...';
}

const {
  title,
  desc,
  category,
  page,
  prefix,
} = Astro.props;

const posts = page.data.map(({ collection, id, body, data }) => ({
  collection: collection,
  id: id,
  excerpt: body ? getExcerpt(body) : '',
  title: data.title,
  desc: data.desc,
  date: data.date,
  tags: data.tags,
  banner_url: data.banner_url,
}));
---

<WithProfileLayout {title} {desc}>
  <main class="px-8">
    {/* Category */}
    { category && <h1 class="my-10 text-2xl">{category}</h1> }

    {/* Post List */}
    <div class="pb-3">
      { posts.map(post => <PostCard {...post} />) }
    </div>

    {/* Pagination */}
    <div class="flex justify-center items-center">
      <a
        href={page.url.prev}
        class:list={[
          'mr-1',
          { 'invisible': !page.url.prev },
        ]}
      >
        <div class="i-mdi-triangle rotate-270"></div>
      </a>
      {
        Array.from({ length: 5 }, (_, k) => k + page.currentPage - 2).map(num =>
          num <= 0 || num > page.lastPage ?
            <span class="mx-1 w-9 text-lg"></span> :
          num == page.currentPage ?
            <span
              class="
                mx-1 w-9 h-9
                rounded-full border-2 border-pagination-indicator-light dark:border-pagination-indicator-dark
                text-lg text-center
              "
            >
              {num}
            </span> :
            <a
              href={`${prefix}/${num}`}
              class="
                mx-1 w-9 h-9
                rounded-full
                border-2 border-transparent
                hover:border-pagination-indicator-hovered-light
                dark:hover:border-pagination-indicator-hovered-dark
                transition-colors transition-2000
                text-lg text-center
              "
            >
              {num}
            </a>
        )
      }
      <a
        href={page.url.next}
        class:list={[
          'ml-1',
          { 'invisible': !page.url.next },
        ]}
      >
        <div class="i-mdi-triangle rotate-90"></div>
      </a>
    </div>

    <Footer />
  </main>
</WithProfileLayout>