---
import type { Page } from 'astro';
import type { CollectionEntry, CollectionKey } from 'astro:content';
import MarkdownIt from 'markdown-it';
import { motion } from 'motion-v';
import { parse as parseHtml } from 'node-html-parser';

import WithProfileLayout from '@/layouts/WithProfile.astro';
import PostCard from '@/components/post/PostCard.astro';
import Pagination from '@/components/Pagination.vue';
import Footer from '@/components/Footer.vue';
import type { Post } from '@/types/content';

interface Props {
  title: string;
  desc: string;
  category?: string;
  page: Page<CollectionEntry<CollectionKey>>;
  prefix: string;
}

const parser = MarkdownIt();
function getExcerpt(body: string) {
  const html = parser.render(body);
  const root = parseHtml(html);
  const text = root.getElementsByTagName('p')[0]?.text;
  if (!text || text.length <= 400) return text;
  return text.substring(0, 400) + ' ...';
}

const {
  title,
  desc,
  category,
  page,
  prefix,
} = Astro.props;

const posts: Post[] = page.data.map(({ collection, id, body, data }) => ({
  collection,
  id,
  excerpt: body ? getExcerpt(body) : '',
  ...data,
}));
---

<WithProfileLayout {title} {desc}>
  <main class="px-8">
    {/* Category */}
    { category && <h1 class="my-10 text-2xl">{category}</h1> }

    {/* Post List */}
    <div class="pb-3">
      {
        posts.length === 0 &&
          <div class="my-4">
            <div class="i-mdi-sign-caution mx-auto text-[10rem]" />
            <div class="text-center text-3xl">There'll be something one day...</div>
          </div> ||
          posts.map(post => <PostCard {...post} />)
      }
    </div>

    {/* Pagination */}
    <Pagination
      {prefix}
      curr_page={page.currentPage}
      last_page={page.lastPage}
      prev_page_url={page.url.prev}
      next_page_url={page.url.next}
      client:idle
    />
  </main>
  <Footer />
</WithProfileLayout>