---
import WithProfileLayout from '@/layouts/WithProfile.astro';
import Image from '@/components/element/Image.vue';
import Footer from '@/components/Footer.vue';
import PostAttr from '@/components/post/PostAttr.vue';

import type { PostData as Props } from '@/types.ts';

const {
  title,
  desc,
  date,
  tags,
  banner_url,
} = Astro.props;
---

<WithProfileLayout
  title={`${title} | Alan Kuan`}
  desc={desc}
>
  {
    /* Banner */
    banner_url &&
    <div max-h-100 overflow-hidden>
      <Image
        width="100%"
        ske_height="300px"
        src={banner_url}
        alt="Banner"
        margin={false}
        rounded="none"
      />
    </div>
  }
  <main ma-8 px-8 pb-5>
    {/* Title & Attributes */}
    <h1 mt-2 text-3xl font-medium>{title}</h1>
    <div mt-2>
      <PostAttr {date} {tags} />
    </div>
    {/* Content */}
    <div mt-5 mb-5>
      <slot />
    </div>
  </main>
  <Footer />
</WithProfileLayout>