---
import BaseLayout from '@/layouts/Base.astro';
import Banner from '@/components/Banner.vue';
import Footer from '@/components/Footer.vue';
import PostAttr from '@/components/post/PostAttr.vue';
import SidePanel from '@/components/post/SidePanel.vue';
import Outline from '@/components/post/Outline.vue';
import ScrollToTop from '@/components/ScrollToTop.vue';
import ImageViewer from '@/components/overlay/ImageViewer.vue';

import type { MarkdownHeading } from 'astro';
import type { PostFrontmatter } from '@/types/content';

type Props = PostFrontmatter | { headings: MarkdownHeading[] };

const {
  title,
  desc,
  date,
  tags,
  banner_url,
  banner_pos,
  headings,
} = Astro.props;
---

{/*
  Layouts:
    1. <=md
      - main width: 90% (center)
      - side bar: hovering
    2. >=lg
      - main width: 70% (right)
      - side bar: expanded
    3. >=xl
      - main width: 50% (center)
      - side bar: expanded
*/}

<BaseLayout
  title={`${title} | Alan Kuan`}
  {desc}
>
  <main>
    {
      /* Banner */
      banner_url &&
      <Banner
        url={banner_url}
        pos={banner_pos}
        class="mt-4"
        client:idle
      />
    }
    <div class="flex lt-md:justify-center">
      {/* set it 0 to make sure it doesn't take space on narrow screens */}
      <div class="w-0 md:w-25%">
        <SidePanel {headings} client:load />
      </div>
      <div
        class="
          w-90% md:w-70% 2xl:w-50%
          mt-8
          md:px-12
        "
      >
        {/* Title & Attributes */}
        <div class="pb-4 border-b border-text-dark dark:border-text-light">
          <h1 class="text-3xl font-medium">{title}</h1>
          <div class="mt-2">
            <PostAttr {date} {tags} />
          </div>
        </div>
        {/* Content */}
        <div class="mt-5 pb-4 border-b border-text-dark dark:border-text-light md:text-lg">
          <slot />
        </div>
      </div>
    </div>
  </main>
  <Footer />

  <ScrollToTop
    class="fixed bottom-3 right-3 md:bottom-8 md:right-4"
    client:idle
  />
  <ImageViewer client:idle />
</BaseLayout>