---
import WithProfileLayout from '@/layouts/WithProfile.astro';
import Footer from '@/components/Footer.vue';
import PostAttr from '@/components/post/PostAttr.vue';

const { title, desc, date, tags } = Astro.props;
---

<WithProfileLayout
  title={`${title} | Alan Kuan`}
  desc={desc}
>
  <main ma-8 px-8 py-5>
    <h1 text-3xl font-medium>{title}</h1>
    <div mt-2>
      <PostAttr {date} {tags} />
    </div>
    <div mt-5 mb-5>
      <slot />
    </div>
  </main>
  <Footer />
</WithProfileLayout>