---
import BaseLayout from '@/layouts/Base.astro';
import LazyImage from '@/components/LazyImage.vue';
import PostAttr from '@/components/post/PostAttr.vue';
import SidePanel from '@/components/post/SidePanel.vue';
import Footer from '@/components/Footer.vue';
import ScrollToTop from '@/components/ScrollToTop.vue';
import ImageViewer from '@/components/overlay/ImageViewer.vue';

import type { MarkdownHeading } from 'astro';
import type { PostFrontmatter } from '@/types/content';

type Props = PostFrontmatter & { headings: MarkdownHeading[] };

const {
  title,
  desc,
  date,
  tags,
  banner,
  headings,
} = Astro.props;

const banner_img_attr = banner && Astro.locals.img_attr_of_src?.[banner.url];
const show_side_panel = headings.length > 0;
---

<BaseLayout
  title={`${title} | Alan Kuan`}
  {desc}
>
  <main>
    {
      /* Banner */
      banner && (
        <LazyImage
          src={banner.url}
          img_attr={banner_img_attr}
          alt="A banner image for this post"
          obj_pos={banner.pos ?? 'center'}
          class={`
            w-95% xl:w-300 lg:h-100
            mt-4 mx-auto
            rounded-xl
          `}
          client:idle
        />
      )
    }
    <div
      class:list={{
        'w-90% md:w-75% xl:w-65% 2xl:w-998.4px mx-auto': !show_side_panel,

        'md:grid': show_side_panel,
        'md:grid-cols-[minmax(240px,25%)_minmax(0,75%)]': show_side_panel,
        'xl:grid-cols-[25%_65%]': show_side_panel,
        '2xl:grid-cols-[384px_998.4px]': show_side_panel,
        'md:justify-center': show_side_panel
      }}
    >
      {/* Title & Attributes */}
      <div
        class:list={[
          'my-8',
          {
            'lt-md:w-90% lt-md:mx-auto': show_side_panel,
            'md:row-start-1 md:col-start-2': show_side_panel
          }
        ]}
      >
        <h1 class="text-3xl font-medium">{title}</h1>
        <div class="mt-4">
          <PostAttr {date} {tags} />
        </div>
      </div>
      {/* Side Panel */}
      {
        show_side_panel &&
        <div class="md:pr-8 md:row-start-2 md:col-start-1">
          <SidePanel {headings} client:idle />
        </div>
      }
      {/* Content */}
      <div
        class:list={{
          'lt-md:w-90% lt-md:mx-auto': show_side_panel,
          'md:row-start-2 md:col-start-2': show_side_panel,
        }}
      >
        <slot />
      </div>
    </div>
  </main>
  <Footer />

  <ScrollToTop
    class="fixed bottom-3 right-3 md:bottom-8 md:right-4"
    client:idle
  />
  <ImageViewer client:idle />
</BaseLayout>

<script>
import { show_viewer, zoomed_img } from '@/stores/ImageViewerStore';

function onImgClicked(event: MouseEvent) {
  const container = event.currentTarget as HTMLDivElement;
  const img = container.querySelector<HTMLImageElement>('img');
  if (img && img.naturalWidth > 0) {
    zoomed_img.set({
      src: img.src,
      alt: img.alt,
      title: img.title,
    });
    show_viewer.set(true);
  }
}

function initViewerAndImages() {
  zoomed_img.set({ src: '', alt: '' });
  show_viewer.set(false);
  document.querySelectorAll<HTMLImageElement>('.post-img').forEach(img => {
    img.addEventListener('click', onImgClicked);
  });
}

document.addEventListener('astro:after-swap', initViewerAndImages);
initViewerAndImages();
</script>