---
import { Image } from 'astro:assets';

import NavList from '@/components/nav/NavList.vue';
import NavMenu from '@/components/nav/NavMenu.vue';
import DarkLightToggle from '@/components/nav/DarkLightToggle.vue';

import logo_img from '@/assets/logo.webp';
import { links } from '@/content/nav_links';

const route_prefix = Astro.url.pathname.split('/').splice(0, 2).join('/');
const curr_idx = route_prefix === '/' ? -1 : links.findIndex(link => link.route.startsWith(route_prefix));
---

<nav
  class="
    sticky top-0 z-10
    flex justify-between items-center
    w-full h-20
    px-5 py-2.5
    bg-nav-bar-light dark:bg-nav-bar-dark
    text-text-light
  "
>
  <div>
    <a href="/" class="inline-block">
      <div class="dark:saturate-50">
        <Image
          src={logo_img}
          alt="logo"
          class="logo w-15"
        />
      </div>
    </a>
  </div>

  <div class="lt-md:hidden md:flex md:justify-center">
    <NavList {curr_idx} {links} client:load />
  </div>

  <div class="md:pr-15">
    <NavMenu {curr_idx} {links} client:load />
    <DarkLightToggle client:load />
  </div>
</nav>

<style>
.logo {
  filter:
    drop-shadow(0 1px rgba(255, 255, 255, 0.5))
    drop-shadow(0 -1px rgba(255, 255, 255, 0.5))
    drop-shadow(1px 0 rgba(255, 255, 255, 0.5))
    drop-shadow(-1px 0 rgba(255, 255, 255, 0.5));
}
.logo:hover {
  filter:
    drop-shadow(2px 0 2px rgba(255, 255, 255, 0.5))
    drop-shadow(-2px 0 2px rgba(255, 255, 255, 0.5))
    drop-shadow(0 2px 2px rgba(255, 255, 255, 0.5))
    drop-shadow(0 -2px 2px rgba(255, 255, 255, 0.5));
}
</style>